@charset "utf-8";
.logo{
    width: 100px;
    height: 110px;
    display: block;
}
.mx-auto{ /* margin + x-axis + auto */
    margin: 0 auto; /*가운데로 가는 태그(상하 0, 좌우 auto), 사이즈 먼저 정해줘야함*/
}
.my-50{ /*로고를 위아래로 50픽셀씩 간격 줌 */
    margin-top: 50px;
    margin-bottom: 50px;
}
