@charset "utf-8";
/*==========================0. 스타일 공통속성===========================*/
.mx-auto{ /* margin + x-axis + auto */
    margin: 0 auto; /*가운데로 가는 태그(상하 0, 좌우 auto), 사이즈 먼저 정해줘야함*/
}
.mx-10 {
    margin-left: 10px;
    margin-right: 10px;
}
.my-50{ /*로고를 위아래로 50픽셀씩 간격 줌 */
    margin-top: 50px;
    margin-bottom: 50px;
}
.text-center {
    text-align: center;
}
/*==========================1. 스타일 초기화==============================*/
*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 100px;
    height: 110px;
    display: block;
}

.bg-nav{
    background-color: #005891;
}
.nav {
    height: 60px;
    line-height: 60px; /*행-높이(=행간): 높이와 같게하면, 수직 중앙에 배치*/
}
/*
    :link - link로 지정된 텍스트
    :visited -link 텍스트를 클릭한 이후(방문한 적 있는)
    :hover - hand+over 마우스를 올렸을때의 텍스트
    :active - link 텍스트를 클릭하고 있는 동안
    위에서부터 아래의 순서를 꼭 지켜야만함
    */

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover { /*가상요소선택자(마우스가 올라오면), hand+over */
   color: #fcff00; 
   text-decoration: none; /* 텍스트-꾸밈:안함 */
}

.cf {
    width: 800px;
    height: 500px;
}
